graphviz==0.16
Flask==1.1.2
flake8==3.8.4
pytest==6.2.2
libcst==0.3.17
astpretty
beniget==0.3.0
apache-beam==2.27.0
coverage==5.5
ujson==4.0.2
confluent-kafka==1.6.1
beam-nuggets==0.17.1
httplib2==0.15.0
google-api-python-client==1.7.8
pytest-mock==3.5.1
PyHamcrest==2.0.2